.characterEditor {
  padding-bottom: 64px;
  padding-top: 128px;
}

.maxWidthWrapper {
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-bottom: 16px;
  margin-top: 0;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  min-height: 500px;
  min-width: 100px;
  position: fixed;
  right: 0;
  top: 150px;
  width: 40%;
}

.controlColumn {
  width: 50%;
}
