html,
body,
#root {
  background: linear-gradient(180deg, hsl(180deg, 25%, 92%) 60%, hsl(195deg, 20%, 86%) 60%) fixed;
  height: 100%;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*
  A utility class to totally remove something from the screen,
  while still keeping it available for screen-readers.
*/
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
